<h1 class="page-header">Resend confirmation instructions</h1>
<% if resource.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <h4><%= pluralize(resource.errors.count, "error") %> prohibited you from resending confirmation instruccions :</h4>
        <ul>
          <% resource.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post  ,class: "form-confirm"}) do |f| %>
  <%= f.password_field :password, autocomplete: "off", autofocus: true, class: "form-control", placeholder: "Password" %>
  <br>
  <div class="actions">
    <%= f.submit "Resend confirmation instructions" , class: "btn btn-lg btn-warning"%>
  </div>
<% end %>

<%= render "devise/shared/links" %>
