<h1 class="page-header">Resend confirmation instructions</h1>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="input-group">
    <span class="input-group-addon">E-mail</span>
    <%= f.email_field :email, autofocus: true, class: "form-control" %>
  </div>

  <br><div class="actions">
    <%= f.submit "Resend confirmation instructions" , class: "btn btn-lg btn-warning"%>
  </div>
<% end %>

<%= render "devise/shared/links" %>
