<div class="row">
    <div class="btn-group col-lg-3" style="
    padding-top: 15px">
        <button type="button" class="change-week btn btn-default" data-date = <%= @day_selected.last_week %>>
            <i class="fa fa-arrow-left"></i>
        </button>
        <button type="button" class="change-week btn btn-default" data-date = <%= @day_selected.next_week %>>
            <i class="fa fa-arrow-right"></i>
        </button>
    </div> 
    <div class="col-lg-6">
        <h3><strong>This Week :</strong> <small> <%= full_date_format(@beginning) %> - <%= full_date_format(@end) %> </small> </h3> 
    </div>
    <div class="col-lg-2 to-the-right" style="
    padding-top: 15px">
     <%= link_to '<i class="fa fa-arrow-down"></i> Current Week'.html_safe , '#', :data => {:date => @today},:id => "today_date", :class => 'change-date btn btn-primary' %>
     </div>
</div>
<br>

<h1 class="page-header"> Reports <small> by</small> </h1>

<div class="tabbable tabs-left">
<ul class="nav nav-pills nav-justified">
    <li class="active <%= 'active' if params[:tab] == 'tab1' %>"><a href="#tab1" data-toggle="tab"><i class="fa fa-users"></i>  Clients</a></li>
    <li class="<%= 'active' if params[:tab] == 'tab2' %>"> <a href="#tab2" data-toggle="tab"><i class="fa fa-folder-open"></i>  Projects</a></li>
    <li class="<%= 'active' if params[:tab] == 'tab3' %>"> <a href="#tab3" data-toggle="tab"><i class="fa fa-user"></i>  Collaborators</a></li>

</ul>

<div class="tab-content">
    <div class="<%= if (params[:tab] == 'tab1' || !params[:tab])then 'tab-pane active'  else 'tab-pane' end%>" id="tab1">
		<%= render "clients_report" %>
    </div>
    <div class="<%= if params[:tab] == 'tab2' then 'tab-pane active'  else 'tab-pane' end%>" id="tab2">
		<%= render "projects_report" %>
    </div>
    <div class="<%= if params[:tab] == 'tab3' then 'tab-pane active'  else 'tab-pane' end%>" id="tab3">
        <%= render "collaborators_report" %>
    </div>
</div>
</div>