<h1 class="page-header"> Reports <small> by</small> </h1>
<div class="row">
    <div class="col-lg-4">
        <%= select_tag :report, options_for_select(@to_report), prompt: "- Report -", class:"form-control", id: "report-table-select-1" %>
    </div>
    <div class="col-lg-4">
    	<%= select_tag :option, nil, prompt: "- Select an option -", class:"form-control", id: "report-table-select-2" %>    
    </div>
    <div class="col-lg-4">
    	<%= select_tag :option, nil, prompt: "- Select a type of report -", class:"form-control", id:"report-table-select-3" %>	
    </div>
</div>
<%= form_tag(reports_tables_path,  {:method => :get} ) do %>

	<script type="text/javascript">
		$(document).ready(function(){
	      $('.datepicker').datepicker();
	    });
	    
		var clients_hash = <%= @clients.to_json.html_safe %>;
		var projects_hash = <%= @projects.to_json.html_safe %>;
		var teams_hash = <%= @teams.to_json.html_safe %>;
		var users_hash = <%= @users.to_json.html_safe %>;
		var report_array = <%= @report_type.to_json.html_safe %>;

		$("#report-table-select-1").change(function(){
			var firstSelected = $(this).val();
			switch (firstSelected){
				case "1":
					reloadSecondSelect(clients_hash, "All Clients", ["name"]);
					break;
				case "2":
					reloadSecondSelect(projects_hash, "All Projects", ["name"]);
					break;
				case "3":
					reloadSecondSelect(teams_hash, "All Teams", ["name"]);
					break;
				case "4":
					reloadSecondSelect(users_hash, "All Collaborators", ["first_name", "last_name"]);
					break;
				default:
					reloadSecondSelect([]);
					break;
			}
		})
		$("#report-table-select-2").change(function(){
			var secondSelected = $(this).val();
			var firstSelected = $("#report-table-select-1").val();
			var options_array = [];
			switch(firstSelected){
				case "1":
					options_array.push(report_array[0]);
					reloadThirdSelect(options_array);
					break;
				case "2":
					if(secondSelected == 0){
						options_array.push(report_array[0]);
						options_array.push(report_array[1]);
						reloadThirdSelect(options_array);
						break;
					}
					else{
						options_array.push(report_array[3]);
						options_array.push(report_array[4]);
						reloadThirdSelect(options_array);
						break;
					}
				case "3":
					if(secondSelected == 0){
						options_array.push(report_array[0]);
						options_array.push(report_array[2]);
						reloadThirdSelect(options_array);
						break;
					}
					else{
						options_array.push(report_array[4]);
						options_array.push(report_array[5]);
						reloadThirdSelect(options_array);
						break;
					}
				case "4":
					if(secondSelected == 0){
						options_array.push(report_array[0]);
						options_array.push(report_array[2]);
						reloadThirdSelect(options_array);
						break;
					}
					else{
						options_array.push(report_array[4]);
						options_array.push(report_array[5]);
						reloadThirdSelect(options_array);
						break;
					}
			}
		})


		function reloadSecondSelect(objectsArray, target, names){
			$("#report-table-select-2").html("<option value=''>- " + target + " -</option>");
			$.each(objectsArray, function( index, value ) {
			  $("#report-table-select-2").append('<option value=' + value["id"] + '>' + names.map(function(name){return value[name]}).join(' ') + '</option>');
			});
		}

		function reloadThirdSelect(objectsArray){
			$("#report-table-select-3").html("<option value=''>- Select a type of report -</option>");
			$.each(objectsArray, function(index,value) {
			  $("#report-table-select-3").append('<option value='+ index + '>' + value[0] +'</option>');
			});
		}

		$("tables_report").on("click",".filter-report", function(){
	    var id1 = $(report-table-select-1).val();
	    var id2 = $(report-table-select-2).val();
	    var id3 = $(report-table-select-3).val();
    		$.ajax({
		        type:'GET',
		        url: "<%= reports_tables_path %>",
		        data: { id_1 : id1, id_2 : id2, id_3 : id3},
		        dataType: "script"
    		});
    	})

    	

	</script>
	<br><br>
	<div class="row">
        <div class="col-lg-1 text-center">
            From: 
        </div>
        <div class="col-lg-5 text-center">
            <%= text_field_tag "beginning", date_format(@beginning), class:"form-control datepicker" %>
        </div>
        <div class="col-lg-1 text-center">
            to:
        </div>
        <div class="col-lg-5 text-center">
            <%= text_field_tag "end", date_format(@end), class:"form-control datepicker" %>
        </div>
    </div>
    <br>
	<div class="align-right">
        <div><%= submit_tag 'Go', :data => {:id_1 => @id_1, :id_2 => @id_2, :id_3 => @id_3}, class:"btn btn-warning" %></div>
	</div>
	<% if(@id_1 == 1) %>
	<% end %>
<% end %>


