<p>Hello</p>

<p><%= @permit.user.first_name %>  desea enviarte una solicitud de permiso, cuyo motivo es el siguiente:</p>
 
<p><%= @permit.description %></p>

<p>Durante el periodo:</p>

<p>Start: </p>

<p><%= @permit.start%></p>

<p>Finish: </p>

<p><%= @permit.finish%></p>

<%= link_to  "Accept", permit_accept_url(permit_id: @permit.id), method: :put %>
<%= link_to  "Decline", permit_decline_url(permit_id: @permit.id), method: :put %>
