<%= nested_form_for user do |f| %>
	<% if user.errors.any? %>
		<div id="error_explanation">
			<div class="alert alert-danger alert-dismissable">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true"> &times; </button>
				<h4><%= pluralize(user.errors.count, "error") %> ocurred:</h4>
				<ul>
				<% user.errors.full_messages.each do |message| %>
					<li><%= message %></li>
				<% end %>
				</ul>
			</div>
		</div>
	<% end %>

	<div class="field">
		<div class="input-group">
		  <span class="input-group-addon">First Name</span>
		  <%= f.text_field :first_name, class: "form-control" %>
		</div>
		<br>
	</div>

	<div class="field">
		<div class="input-group">
		  <span class="input-group-addon">Last Name</span>
		  <%= f.text_field :last_name, class: "form-control" %>
		</div>
		<br>
	</div>

	<div class="field">
		<div class="input-group">
		  <span class="input-group-addon">Email</span>
		  <%= f.text_field :email, class: "form-control" %>
		</div>
		<br>
	</div>
	<% if user.administrator? == false %>
	<div class="input-group">
		<span class="input-group-addon">Role</span>
		<%= f.select :role_id, roles_helper.collect{ |t| [t.name, t.id]}, {:prompt => "- Select a Role -" } , class: "form-control" %>
	</div>
	<br>
	<% end %>

	<div class="input-group">
		<span class="input-group-addon">Team</span>
		<%= f.select :team_id, teams_helper.collect{ |t| [t.name, t.id]}, {:prompt => "- Select a Team -" } , class: "form-control" %>
	</div>
	<br>
	<div class="field">
    <div class="input-group">
      <span class="input-group-addon">Leader</span>
      <% if @user.team_leader%>
      	<%= f.select :team_leader, ['Yes', 'No'], {},  class: "form-control"%>
      <%else%>
      		<%= f.select :team_leader, ['No', 'Yes'], {},  class: "form-control"%>
      <%end%>		
    </div>
    <br>
  </div>


	<div class="actions">
		<%= f.submit class: "btn btn-lg btn-warning" %>
	</div>

<% end %>
