<% if can? :manage, User %> 
  <%= link_to 'New User', new_user_path , class: "btn btn-lg btn-warning align-right" %>
<% end %>

<h1 class="page-header"> Collaborators <small> Listing</small> </h1>

<div class="col-md-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>First name </th>
          <th>Last name</th>
          <th>E-mail</th>
          <th>Rol</th>
        </tr>
      </thead>
      <tbody>
         <% @users.each do |user| %>
          <tr>
            <td><%= user.first_name %></td>
            <td><%= user.last_name %></td>
            <td><%= user.email %></td>
            <td><%= user.role.name %></td>
            <td><i class="fa fa-pencil"></i> <%= link_to 'Edit', edit_user_path(user) %></td>
            <td><i class="fa fa-pencil"></i> <%= link_to 'Assign Projects', show_user_project_user_path(user) %></td>
            <td><%= link_to 'Resend Confirmation', resend_confirmation_user_path(user) %> </td>
          </tr>
          <!-- <a href="/users/confirmation/new" data-remote="true" data-method="post">Resend confirmation</a> -->
        <% end %>
      </tbody>
    </table>
  </div>