<% icon = active ? "'fa fa-eye-slash'" : "'fa  fa-eye'" %>
<% text =  active ? 'Archive' : 'Unarchive'%>
<td>
	# <%= collaborator.pin %>
</td>
<td>
	<%#= image_tag collaborator.avatar.url(:thumb), class: "img-circle", width: "30", height:"30"%>
	<strong>  <%= collaborator.name %></strong> <%#= '<span class="label label-success">TL</span>'.html_safe if user.team_leader %>
</td>
<td>
	<%#= user.role_name %>
<td>
	<%# if active %>
		<%= link_to '<i class="fa fa-pencil"></i> Edit'.html_safe, edit_collaborator_path(collaborator),class: "btn btn-default" %>
		<%# if collaborator.confirmed? %>
			<%= link_to '<i class="fa fa-folder-open-o"></i> Projects'.html_safe, show_collaborator_project_collaborator_path(collaborator), class: "btn btn-default" %>
		<%# else %>
			<%#= link_to '<i class="fa  fa-reply-all"></i> Resend Confirmation'.html_safe, resend_confirmation_user_path(user), class: "btn btn-default" %>
		<%# end %>
	<%# end %>
	<%= link_to '<i class="fa fa-calendar"></i> Schedule'.html_safe, schedule_collaborator_path(collaborator) ,class: "btn btn-default" %>
	<%= link_to "<i class=#{icon}></i> #{text}".html_safe, active ? archive_collaborator_path(collaborator) : unarchive_collaborator_path(collaborator), class: "btn btn-default", remote: true, method: "put" %>
<!-- 		# ,data: { confirm: "You are about to #{text} : #{collaborator.full_name}, this action involves:
			  #Automatic Check-out
			  #Stop all the activities on Timesheets
			  #The user will not be able to log in
			  #Are you sure?" } %> -->
</td>
