<div class="base">
  <table class="schedule table table-hover table-striped">
    <thead>
      <tr>
        <th class="no-day"></th>
        <th class="day">MONDAY</th>
        <th class="day">TUESDAY</th>
        <th class="day">WEDNESDAY</th>
        <th class="day">THURSDAY</th>
        <th class="day">FRIDAY</th>
        <th class="day">SATURDAY</th>
      </tr>
    </thead>
    <tbody>
      <div id="event-row">
        <% for j in 0..14 %>
          <tr>
            <td class="hour">
              <% if (7+j) <= 12 %><%= 7+j %> AM
              <% else %><%= 7+j-12 %> PM
              <% end%>
            </td>
            <% for i in 1..6 %>
              <td class="event">
              </td>
            <% end %>
          </tr>
        <% end %>
      </div>
    </tbody>
  </table>
</div>


<div class="data">
  <% for j in 0..14 %>
    <% for i in 1..6 %>
      <div class="<%= "cell" + "-" + j.to_s + "-" +  i.to_s %>"> 
        <% @schedule.events.each do |e| %>
          <% if ((e.day_of_week.to_date.wday == i) && e.belongs_at_this_time(j) ) %>
            <li class="list-group-item">
              <div style="white-space:nowrap;">
                <%= link_to "#", data: { toggle: "modal", "edit-event-path": "#{schedule_event_path(@schedule, e)}", event: e }, id: "#{(7+j)}-#{i}", class:"edit-current-event" do %>
                    <%= e.name %><br>
                  <%end%>
              </div>
            </li>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>  


<%= render 'events/detail_event' %>

<script type="text/javascript">
  $(document).ready(function(){
    $(".edit-current-event").click(function(e){
      e.preventDefault();
      $("#edit_event_form").attr("action", $(this).data("edit-event-path"));
      $("#edit_event_form").attr("data-event",$(this).data("event").id);
      var eventJSON = $(this).data("event");
      $("#name_event").val(eventJSON["name"]);
      $("#start_event").val(eventJSON["inTime"]);
      $("#finish_event").val(eventJSON["outTime"]);
      $("#day_event").val(eventJSON["day_of_week"]);
      $("launch").val(eventJSON["launch"]);
      $("#detail-event").modal("show");
      $(".edit-current-event").resizable();
    })    
    var set_top = 267;
    for ( j = 0; j < 15; j++ ){
      var set_right = 310;
      for ( i = 1; i < 7; i++ ){
        $(".cell"+ "-" + j.toString() + "-" + i.toString() ).css('position', 'absolute')
        $(".cell"+ "-" + j.toString() + "-" + i.toString() ).offset({top: set_top, left: set_right});
        $(".cell"+ "-" + j.toString() + "-" + i.toString() ).addClass('border');
        set_right =  set_right + 161;
      }
      set_top = set_top + 75;
    }
    var events_record = [<%= raw @events_duration_array.to_json%>]
    for ( i = 0; i < events_record[0].length; i++){
      var current_event = events_record[0][i]
      $("#" + current_event["id"]).height( 75 * current_event["factor"]);
    }
  })
</script>
