<div class="modal fade" id="new-schedule" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4> New Schedule</h4>
      </div>
      <div class="modal-body">
        <%= form_for(Schedule.new, class: "form-inline ", remote: true) do |f|%>
          <table>
            <tr>
              <td><%= f.label :name, "Name Schedule" %></td>
              <td id="form-fields"><%= f.text_field :name, class: "form-control", placeholder: "UniversitySchedule" %></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td><%= f.label :start, "From" %></td>
              <td id="form-fields"><%= f.text_field :start, class:"form-control"%></td>
              <td><%= f.label :end, "To" %></td>
              <td id="form-fields"><%= f.text_field :end, class:"form-control"%></td>
            </tr>
          </table>
          <%= f.submit "Submit" ,class: "btn btn-default" %>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <% end %>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $('#schedule_start').datepicker()
  .on('show', function() {
    $('.datepicker').css("z-index", "3000");
  });
  $('#schedule_end').datepicker()
  .on('show', function() {
    $('.datepicker').css("z-index", "3000");
  });
</script>
