<td><%= schedule.id %></td>
<td><%= schedule.name %></td>
<td><%= schedule.id %></td>
<td>
  <% if schedule.current %>
		<div class="col-md-2">
   		<%= link_to "current", "#", class:"btn btn-success" %>
   	</div>
  <% else %>
  	<div class="col-md-2">
      <%= link_to "current", { action: "set", id: schedule }, method: :put, class:"btn btn-default", remote: true %>
   	</div>
  <% end %>
	<div class="col-md-2">
		<%= link_to '<i class="fa fa-pencil"></i> Edit'.html_safe, edit_schedule_path(schedule),class: "btn btn-default" %>
	</div>
	<div class="col-md-2">
		<%= link_to '<i class="fa fa-times"></i> Delete'.html_safe, schedule_path(schedule), method: :delete, remote: true, data: { confirm: 'Are you sure?' },class: "btn btn-default" %>
	</div>
</td>




