<h1 class="page-header"> Schedule <small><%= @schedule.name %></small></h1>
<hr>
<div id="table-current-schedule" class="table-current-schedule">
	<%= nested_form_for @schedule, url: edit_schedule_schedules_path, remote: true do |f| %>
	  <%= render 'table_current_schedule' , f: f %>
	  <%= f.hidden_field :id_schedule , :value => @schedule.id%>
	  <%= f.submit "Update", class: "btn btn-primary" %>
    <%= link_to "Back", schedules_path, class: "btn btn-primary" %>
	<% end %>
</div>