<div id="account-registration">
	<h1 class="page-header"> Subscription <small> Account</small> </h1>
	<div class="container-fluid">
		<div class="row">
			<%= form_for @account, url: registration_path, html: {class: "form-horizontal"} do |f| %>
				<% if @account.errors.any? %>
					<div id="error_explanation">
						<div class="alert alert-danger alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
							<h4><%= pluralize(@account.errors.count, "error") %> ocurred:</h4>
							<ul>
								<% @account.errors.full_messages.each do |message| %>
									<li><%= message %></li>
								<% end %>
							</ul>
						</div>
					</div>
				<% end %>
				<div class="form-group">
					<%= f.label :company_name, class: "col-sm-3 control-label" %>
					<div class="col-sm-9">
						<%= f.text_field :company_name, class: "form-control", placeholder: "Company name" %>
					</div>
				</div>
				<div class="form-group">
					<%= f.label :subdomain, class: "col-sm-3 control-label" %>
					<div class="col-sm-9">
						<%= f.text_field :subdomain, class: "form-control", placeholder: "Subdomain (max 20 characters)" %>
						<small id="custom-subdomain"></small>
					</div>
				</div>
				<div class="form-group">
					<%= f.label :company_url, class: "col-sm-3 control-label" %>
					<div class="col-sm-9">
						<%= f.url_field :company_url, class: "form-control", placeholder: "http://" %>
					</div>
				</div>
				<div class="form-group">
					<%= f.label :company_phone, class: "col-sm-3 control-label" %>
					<div class="col-sm-9">
						<%= f.telephone_field :company_phone, class: "form-control", placeholder: "Company phone" %>
					</div>
				</div>
				<div class="form-group">
					<%= label_tag :user_first_name, "First name",class: "col-sm-3 control-label" %>
					<div class="col-sm-9">
						<%= text_field_tag "user[first_name]", "", class: "form-control", placeholder: "First name" %>
					</div>
				</div>
				<div class="form-group">
					<%= label_tag :user_last_name, "Last name",class: "col-sm-3 control-label" %>
					<div class="col-sm-9">
						<%= text_field_tag "user[last_name]", "", class: "form-control", placeholder: "Last name" %>
					</div>
				</div>
				<div class="form-group">
					<%= label_tag :user_email, "Email",class: "col-sm-3 control-label" %>
					<div class="col-sm-9">
						<%= email_field_tag "user[email]", "", class: "form-control", placeholder: "Email address" %>
					</div>
				</div>
				<div class="form-group">
					<%= label_tag :user_password, "Password",class: "col-sm-3 control-label" %>
					<div class="col-sm-9">
						<%= password_field_tag "user[password]", "", class: "form-control", placeholder: "Password" %>
					</div>
				</div>
				<div class="form-group">
					<%= label_tag :user_password_confirmation, "Password confirmation",class: "col-sm-3 control-label" %>
					<div class="col-sm-9">
						<%= password_field_tag "user[password_confirmation]", "", class: "form-control", placeholder: "Password confirmation" %>
					</div>
				</div>

				<div class="actions">
					<%= f.submit "Sign up", class: "btn btn-lg btn-primary btn-block" %>
				</div>
			<% end %>
		</div>
	</div>
</div>
