<%= form_for @event, :html => {:class => "form-horizontal center"}, url: @url, method: @method, remote: true do |f| %>
  <div class="table-body">
    <table>
      <tr>
        <td><%= f.label :name %></td>
        <td><%= f.text_field :name, class:"form-control" %></td>
      </tr>
      <tr>
        <td><%= f.label :description %></td>
        <td><%= f.text_field :description, class:"form-control" %></td>
      </tr>
      <tr>
        <td><%= f.label :start %></td>
        <td><%= f.text_field :start, :class => 'datetimepicker form-control' %></td>
      </tr>
      <tr>  
        <td><%= f.label :finish %></td>
        <td> <%= f.text_field :finish, :class => 'datetimepicker form-control'%></td>
      </tr>
      <tr>
        <td><%= f.label :AllDay %></td>
        <td><%= f.check_box :all_day, as: :boolean %></td>
      </tr>
      <td>
        <%= f.submit "Submit" ,class: "btn btn-default" %>
      </td>
      <td>
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button></td></td>
    </table>
<% end %>
</div>
<script type="text/javascript">
  $('.datetimepicker').datetimepicker();
</script>
