<%= form_for @event, url: @url, method: @method, remote: true do |f| %>
<table>
<tr>
  <td><%= f.label :name %></td>
  <td><%= f.text_field :name %></td>
</tr>
<tr>
  <td><%= f.label :description %></td>
  <td><%= f.text_field :description, as: :text, input_html: { rows: 4, cols: 30 } %></td>
</tr>
<tr>
  <td><%= f.label :start %></td>
  <td><%= f.date_field :start %></td>
</tr>
<tr>
  <td><%= f.label :finish %></td>
  <td><%= f.date_field :finish %></td>
</tr>
<tr>
  <td><%= f.label :AllDay %></td>
  <td><%= f.check_box :all_day, as: :boolean %></td>
</tr>
<td>
  <div class="modal-footer">
    <span class="submit-right">
      <%= f.submit  %>
    </span>
  </div>
</td>
 
</table>
<% end %>


