<%= nested_form_for @project do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>

  <p>
    <%= f.label :client %><br />
    <%= f.select :client_id, clients_helper.collect{ |t| [t.name, t.id]}, {:prompt => "Select a client" } %>
  </p>

    <%= f.label :task_projects %><br />
    <%= f.fields_for :task_projects do |task_form| %>
      <%= task_form.select :task_id, tasks_helper.collect{ |t| [t.name, t.id]}, {:prompt => "Select a task" }%>
      <%= task_form.link_to_remove "Remove this task" %>
      <% end %>
  <p><%= f.link_to_add "Add a Task", :task_projects %></p>

<%= f.label :user_projects %><br />
    <%= f.fields_for :user_projects do |user_form| %>
      <%= user_form.select :user_id, users_helper.collect{ |u| [u.full_name, u.id]}, {:prompt => "Select a user" }%>
      <%= user_form.link_to_remove "Remove this task" %>
      <% end %>
  <p><%= f.link_to_add "Add a User", :user_projects %></p>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
