<%= nested_form_for @project do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>

  <p>
    <%= f.label :client %><br />
    <%= f.select :client_id, @clients.collect{ |t| [t.name, t.id]}, {:prompt => "Select a client" } %>
  </p>

  <%= f.fields_for :task_projects do |task_form| %>
    <%= task_form.select :task_id, @tasks.collect{ |t| [t.name, t.id]}, {:prompt => "Select a task" }%>
    <%= task_form.link_to_remove "Remove this task" %>
  <% end %>
  <p><%= f.link_to_add "Add a task", :task_projects %></p>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
