<%= link_to 'New Project', new_project_path , class: "btn btn-lg btn-warning align-right" %>
<h1 class="page-header"> Projects <small> Listing</small> </h1>
<div class="col-md-12">
	<table class="table">
		<thead>
			<tr>
				<th>Client</th>
				<th>Projects</th>
			</tr>
		</thead>
		<tbody>
			<% @clients.each do |client| %>
				<% projects_size = client.projects.size %>
				<% if projects_size > 0 %>
					<% client.projects.each_with_index do |project, index| %>
						<tr>
							<% if index == 0 %>
								<td rowspan="<%= projects_size %>">
										<%= client.name %>
								</td>
							<% end %>
							<td>
								<div class="col-md-6">
									<%= project.name %>
								</div>
								<div class="col-md-2">
									<i class="fa fa-eye"></i> <%= link_to 'Show', project %>
								</div>
								<div class="col-md-2">
									<i class="fa fa-pencil"></i> <%= link_to 'Edit', edit_project_path(project) %>
								</div>
								<div class="col-md-2">
									<i class="fa fa-times"></i> <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %>
								</div>
							</td>
						</tr>
					<% end %>
				<% else %>
					<tr>
						<td colspan="2">
							<%= client.name %>
						</td>
					</tr>
				<% end %>
			<% end %>
		</tbody>
	</table>
</div>
