<p id="notice"><%= notice %></p>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title"><strong>Project name:</strong></h3>
    </div>
    <div class="panel-body">
        <%= @project.name %>
    </div>
</div>
<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title"><strong>Project description:</strong></h3>
    </div>
    <div class="panel-body">
        <%= @project.description %>
    </div>
</div>
<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title"><strong>Project client name:</strong></h3>
    </div>
    <div class="panel-body">
        <%= @project.client.name %>
    </div>
</div>
<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title"><strong>Project tasks:</strong></h3>
    </div>
    <div class="panel-body">
        <% @project.tasks.each do |t| %>
            <ul>
                <li><%= t.name %></li>
            </ul>
        <% end %>
    </div>
</div>
<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title"><strong>Project users:</strong></h3>
    </div>
    <div class="panel-body">
        <% @project.users.each do |u| %>
            <ul>
                <li><%= u.full_name %></li>
            </ul>
        <% end %>
    </div>
</div>

<%= link_to 'Edit', edit_project_path(@project), class: "btn btn-primary"%>
<%= link_to 'Back', projects_path, class: "btn btn-primary" %>
