
<div class="modal fade" id="timesheet_modal_<%=timesheet.id%>" tabindex="-1" role="dialog" aria-labelledby="timesheetModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-center" id="timesheetModalLabel"> <strong> Edit time entry </strong><span> 
        <small><%= @day_selected.strftime("%A, %b %d")  %> </small></span></h4>
      </div>
      <div id="new-timer-form" class="modal-body">
		<%= form_for(timesheet, remote: true) do |f| %>
		  <div class="input-group input-padding">
		  	<span class="input-group-addon">Project</span>
    		<%= f.select :project_id, projects_helper.collect{ |t| [t.name, t.id]}, {:prompt => "Select a project" }, :data => { :timesheetId => timesheet.id } , class: "form-control project_edit_timesheet", :id => "project_new_timesheet_#{timesheet.id}" %>
		  </div>
		  <div class="input-group input-padding">
		    <span class="input-group-addon">Task</span>
		    <%= f.select :task_id, @tasks.collect{ |t| [t.name, t.id]}, {:prompt => "Select a task"} , class: "form-control", :id => "timesheet_edit_task_#{timesheet.id}"  %> 
		  </div>
		    <%= f.hidden_field :belongs_to_day, :id => "timesheet_day_#{timesheet.id}"%>
		  
		  <div class="row">
		  	<div class="col-sm-9">
			  <div class="field">
			    <%= f.text_area :notes, class: "form-control text-area-style", :rows => "2", placeholder: "Notes (optional)"%>
			  </div>
			</div>
			<div class="col-sm-3">
			  <div class="total_time">
			    <%= f.text_field :total_time, value: (get_seconds_in_hours_minutes timesheet.current_time.to_f ), class: "form-control time-field-style", placeholder: "0:00"%>
			  </div>
			</div>
		  </div>
		  <br>
		  <div class="modal-footer">
		    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		    <%= f.submit 'Update', :class => 'btn btn-primary'%>
            <%= link_to 'Delete', timesheet, method: :delete, data: { confirm: 'Are you sure?' } , :class => 'btn btn-danger' %>
		  </div>

		<% end %>
      </div>
    </div>
  </div>
</div>