<% @timesheets.each do |timesheet| %>
	<div id="timesheet_<%= timesheet.id%>" class="entry-info">
		<div id="project_client">
			<p> <%= timesheet.project.name %> ( <span> <%= timesheet.project.client.name %></span> ) </p>
		</div>
		<div id="task_notes">
			<p> <%= timesheet.task.name %> <span> <%= !timesheet.notes.empty? ? "- #{timesheet.notes}" : nil %></span>  </p>
		</div>
		<div id="timesheet_timer_<%= timesheet.id %>" class="clock">
			
		</div> 
		<div id="timesheet_start"> 
			<%= link_to  timesheet.running? ? "Stop" : "Start", '#',
        		:class => 'toggle_timesheet', 
        		:data => {:id => timesheet.id}  %> 
		</div>
	</div>

			<script type="text/javascript">
				var clock = $(".clock").FlipClock(<%= timesheet.total_time %>,{
					clockFace: 'HourlyCounter',
					showSeconds: false
				});

				clock.stop(function() {
				// this (optional) callback will fire each time the clock flips
				});

				$('.toggle_timesheet').click(function() {
					var timesheetId = $(this).data('id');
					$.ajax({
					    type:'GET', 
					    url: "<%= toggle_timesheet_timesheets_path %>", 
					    data: { id : timesheetId },
					    dataType: "script"
					});
				});
			</script>
<% end %>
</div>
