<% timesheets.each do |timesheet| %>
	<div id="timesheet_<%= timesheet.id%>" class="entry-info">
		<div id="project_client">
			<p> <%= timesheet.project.name %> ( <span> <%= timesheet.project.client.name %></span> ) </p>
		</div>
		<div id="task_notes">
			<p> <%= timesheet.task.name %> <span> <%= !timesheet.notes.empty? ? "- #{timesheet.notes}" : nil %></span>  </p>
		</div>
		<div id="timesheet_timer_<%= timesheet.id %>" class="clock" data-isrunning="<%= timesheet.is_running? %>">
		</div> 
		<div id="timesheet_start"> 
			<%= link_to timesheet.running? ? "Stop" : "Start" , '#',
        		:class => 'toggle_timesheet', 
        		:data => {:id => timesheet.id},
        		:id => "timesheet_btn_#{timesheet.id}" %>
		</div>
		<div id="timesheet_edit">
		  <%= link_to 'Edit', '', :data => { :toggle => "modal", :target => "#timesheet_modal_#{timesheet.id}" }, :class => "btn btn-primary btn-lg" %>
		</div>
		<%= render 'edit_modal', timesheet: timesheet %>
	</div>
	<script type="text/javascript">
		var clock = $("#timesheet_timer_<%= timesheet.id%>").FlipClock(<%= timesheet.total_time %>,{
			clockFace: 'HourlyCounter',
			showSeconds: false
		});

		clock.stop(function() {
		// this (optional) callback will fire each time the clock flips
		});
	</script>
<% end %>
<div id="day_footer">
	<div id="total_per_day"> Total: <b> <%= get_seconds_in_hours_minutes(current_user.total_time_per_day day )%> </b></div>
</div>

<script type="text/javascript">
	
	$('.toggle_timesheet').click(function() {
	  var timesheetId = $(this).data('id');
	  var oldTimesheetId;
	  $.ajax({
	    type:'GET', 
	    url: "<%= toggle_timesheet_timesheets_path %>", 
	    data: { id : timesheetId },
	    success: function(response,status) {
	      $('.clock').each(function() {
					if($(this).data('isrunning')){
						oldTimesheetId = $(this).attr('id').substr(16);
						var elementId = '#timesheet_timer_'.concat(oldTimesheetId)
						console.log($(elementId));
						// $('#timesheet_timer_'.concat(oldTimesheetId)).stop(function(){

						// })
						// $('#timesheet_btn_'.concat(oldTimesheetId)).innerHTML = 'Start';
						// $(this).dataset.isrunning = "false";
						console.log(oldTimesheetId);
					}
					if($(this).attr('id').substr(16) == timesheetId){
						var elementId = '#timesheet_timer_'.concat(timesheetId)
						console.log($(elementId))
						// $('#timesheet_btn_'.concat(timesheetId)).innerHTML = 'Stop';
					}
	      });
			}
		});
	});

</script>
