<div class="row">
  <div class="col-lg-6">
    <%= render "timesheet_day" %>
  </div>
  <div class="col-lg-6">
    <div class="row" id="week_dates">
      <div class="btn-toolbar to-the-right" role="toolbar">
        <div class="btn-group"> 
          <%= link_to "Today" , '#', :data => {:date => @today},:id => "today_date", :class => 'change_date btn btn-primary' %> 
        </div>
      </div>
</div>

  </div>
</div><br>
<div class="row">
  <div class="col-lg-1">
    <!-- Button trigger modal -->
    <button id="create-timer" type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#timeshee-new-modal"> + </button>
    <h6>New Entry</h6>
  </div>
  <div class="col-lg-11">
      <div id="timesheet_container">
        <div id="timesheet_nav_container">
          <%= render "timesheet_navigation", days_of_week: @days_of_week %>
        </div>
        <!-- Tab panes -->
        <div id="timesheets_content">
          <%= render "timesheet_render", timesheets_per_date: @timesheets_per_date %>
        </div>
      </div>

  </div>
</div>

<%= render "new_modal" %>
<script type="text/javascript">

  $( document ).on("click",".change_date", function(){
    var dateForParam = $(this).data('date');
    $.ajax({
      type:'GET', 
      url: "<%=timesheets_path%>",
      data: { date : dateForParam },
      dataType: "script"
   });
  })

  // $('#timesheet_project_id').change(function () {
  $( document ).on("change","#timesheet_project_id", function(){
    $.ajax({
          type:'GET', 
          url: "<%= tasks_projects_path %>",
          data: {
            id : $('#timesheet_project_id').val()    
          },  
          dataType: "script"
        });
  })  

  $( document ).on("change",".project_edit_timesheet", function(){
    var timesheetId = $(this).data("timesheetid");
    $.ajax({
          type:'GET', 
          url: "<%= tasks_projects_path %>",
          data: {
            id : $("#project_edit_timesheet_".concat(timesheetId)).val(),
            timesheetId : timesheetId
          },
          dataType: "script"
        });
  })
</script>