<%= render "timesheet_day" %>
<div class="row">
  <div class="col-lg-1 text-center">
    <!-- Button trigger modal -->
    <button id="create-timer" type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#timeshee-new-modal"> + </button>
    <h6>New Entry</h6>
  </div>
  <div class="col-lg-11 ">
      <div id="timesheet_container">
        <div id="timesheet_nav_container">
          <%= render "timesheet_navigation", days_of_week: @days_of_week %>
        </div>
        <!-- Tab panes -->
        <div id="timesheets_content">
          <%= render "timesheet_render", timesheets_per_date: @timesheets_per_date %>
        </div>
      </div>

  </div>
</div>

<%= render "new_modal" %>
<script type="text/javascript">

 $( document ).on("click",".change_date", function(){
   var dateForParam = $(this).data('date');
   $.ajax({
     type:'GET', 
     url: "<%=timesheets_path%>",
     data: { date : dateForParam },
     dataType: "script"
   });
 })
</script>