<div>
  <%= render "timesheet_day" %>

  <div id="date_ranges">
    <%= link_to "Today" , '#', :data => {:date => @today},:id => "today_date", :class => 'change_date' %> 
  </div>
  <div id="timesheet_container">
    <div id="timesheet_nav_container">
      <%= render "timesheet_navigation" %>
    </div>
    <!-- Tab panes -->
    <div class="tab-content">
      <div id="timesheet-content" role="tabpanel" class="tab-pane active" id="home"> 
          <%= render "timesheets" %>
      </div>
    </div>
  </div>
    <!-- Button trigger modal -->
  <button id="create-timer" type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
    +
  </button>

  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel"> Create new Timer <span> <%= @day_selected.strftime("%A, %b %d")  %> </span></h4>
        </div>
        <div id="new-timer-form" class="modal-body">
          <%= render "new_modal" %>
        </div>
      </div>
    </div>
  </div>

</div>
