<div>
  <%= render "timesheet_day" %>
  <div id="date_ranges">
    <%= link_to "Today" , '#', :data => {:date => @today},:id => "today_date", :class => 'change_date' %> 
  </div>
  <div id="timesheet_container">
    <div id="timesheet_nav_container">
      <%= render "timesheet_navigation", days_of_week: @days_of_week %>
    </div>
    <div id="timesheets_content">
      <%= render "timesheet_render", timesheets_per_date: @timesheets_per_date %>
    </div>
  </div>
  <!-- Button trigger modal -->
  <button id="create-timer" type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#timeshee-new-modal"> + </button>
  <%= render "new_modal" %>
</div>

<script type="text/javascript">

 $( document ).on("click",".change_date", function(){
   var dateForParam = $(this).data('date');
   $.ajax({
     type:'GET', 
     url: "<%=timesheets_path%>",
     data: { date : dateForParam },
     dataType: "script"
   });
 })
</script>