<br>
<div class="align-right">
<%= link_to '<i class="fa fa-file-excel-o"></i>  Download as Excel'.html_safe, daily_excel_reports_on_time_index_path(format: "xlsx",:team => @selected_team, :collaborator => @selected_collaborator, :beginning => date_format(@beginning), :end => date_format(@end)), class: "btn btn-success"%>
</div><br><br>
<table class="table table-bordered table-responsive" style="overflow: auto;">
	<thead>
		<tr>
			<th>Date</th>
			<th>Name</th>
			<th>In/Out</th>
			<th>Time</th>      
		</tr>
	</thead>

	<tbody>
		<% @time_stations.each do |time_station| %>
			<tr>
				<td><%= date_format(time_station.created_at) %></td>
				<td><%= time_station.user.full_name %></td>
				<td><%= time_station.parent_id ? "OUT" : "IN" %></td>
				<td><%= time_format(time_station.created_at) %></td>
			</tr>
		<% end %>
	</tbody>
</table>