<br>
<div class="align-right">
<%= link_to '<i class="fa fa-file-excel-o"></i>  Download as Excel'.html_safe, daily_excel_reports_on_time_index_path(format: "xlsx",:team => @selected_team, :collaborator => @selected_collaborator ,:beginning => date_format(@beginning), :end => date_format(@end)), class: "btn btn-success"%>
</div>
<table class="table table-striped table-responsive" style="overflow: auto;">
  <thead>
    <tr>
      <th>Date</th>
      <th>Name</th>
      <th>In/Out</th>
      <th>Time</th>      
    </tr>
  </thead>

  <tbody>
    <% @recent.each do |time_station| %>
      <tr>
        <td><%= date_format(time_station.created_at) %>
        <td><%= time_station.user.full_name %>
        <td> 
        <% if time_station.parent_id.nil? %>
          IN
        <% else %>
          OUT
        <% end %>
        </td>
        <td>
        <% if time_station.parent_id.nil? %>
         <%= time_format(time_station.created_at) %>
        <% else %>
         <%= time_format(time_station.created_at) %>
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>