<h1 class="page-header"> On Time Report <small> </small> </h1>
<a class="btn btn-warning" role="button" data-toggle="collapse" href="#collapseSearch" aria-expanded="false" aria-controls="collapseSearch">
  Search
</a>

<div class="collapse" id="collapseSearch">
  <%= form_tag(reports_on_time_index_path,  {:method => :get} ) do %>
    <br>
    <div class="col-lg-1 text-center">
        Report: 
    </div>
    <div class="col-lg-11 text-center">
        <%= select_tag "report", options_for_select(@reports.collect { |r| r['type']} ), prompt: "- Select a Report -", class:"form-control" %>
    </div><br><br>
    <div class="row">
        <div class="col-lg-6 text-center">
            <strong>Team</strong>
            <%= select_tag "team",options_from_collection_for_select(@teams, "id", "name", @selected_team.try(:id)), prompt: "- Select a Team -" ,class:"form-control selected_team_id",:data => { :teamId => @team}, :id => "selected_team_#{@team}"%>
            
        </div>
        <div class="col-lg-6 text-center">
            <strong>Collaborators</strong>
            <%= select_tag "collaborator",options_from_collection_for_select(@collaborators, "id", "full_name", @selected_collaborator.try(:id)), prompt: "- Select a Collaborator -" ,class:"form-control", :id => "select_task_#{@team}"%>
        </div>
    </div>
    <br>
    <div class="row-lg-5">
        <div class="col-lg-1 text-center">
            From: 
        </div>
        <div class="col-lg-5 text-center">
            <%= text_field_tag "beginning", date_format(@beginning), class:"form-control datepicker" %>
        </div>
        <div class="col-lg-1 text-center">
            to:
        </div>
        <div class="col-lg-5 text-center">
            <%= text_field_tag "end", date_format(@end), class:"form-control datepicker" %>
        </div>
    </div>
    <br><br>
    <div class="align-right">
        <div><%= submit_tag 'Go', :data => {:team => @team, :collaborator => @collaborator , :beginning => @beginning, :end => @end}, class:"btn btn-warning" %></div>
    </div>
    <% end %>
    <br><br>
</div>
<% case @current_report %>
<% when "Daily" %>
    <%= render 'daily' %>
<% when "Summary" %>
    <%= render 'summary'%>
<% when "Calendar" %>
    <%= render 'calendar', collaborator: @selected %>
<% end %>