<% if permits.empty? %>
    You don't have permits 
<% else %>
    <div class="table-responsive">
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>From</th>
            <th>To</th>      
            <th>Status</th>  
          </tr>
        </thead>
        <tbody>
            <% permits.each do |permit| %>
                <tr>
                    <td><%= permit.id%></td>
                    <td><%= permit.type_permits%></td>
                    <td><%= permit.start%></td>
                    <td><%= permit.finish%></td>
                    <td><%= permit.get_status%></td>
                </tr>
            <%end%>
        </tbody>
      </table>
    </div>
<%end%>

<div class="center-text">
  <%= will_paginate @permits%>
</div>