<%= link_to 'Ask Permission', permission_permits_path, class: "btn btn-lg btn-primary align-right" %>
<h1 class="page-header"> Permissions List <small> </small> </h1>

<%= form_tag(permits_path, method: 'get', remote: true, class: "form-inline " ) do %>
  <div class="request form-inline">
    <%= label_tag :request, "Request" %>
    <%= select_tag :request, options_for_select(@requests.collect { |r| r['name']} ), prompt: "- Select a Report -", class:"form-control search-request" %>
  </div>
  <div class="form-inline">
    <%= label_tag :start, "Start" %>
    <%= date_field_tag :start, "", class: "form-control search-option" %>
    <%= label_tag :finish, "Finish" %>
    <%= date_field_tag :finish, "", class: "form-control search-option"%>
    <%= submit_tag "Search", id: "search-input-button", class: "btn btn-default" %>
  </div>
<% end %>
<div id="permit-table">
  <%= render "table", permits: @permits %>
</div>