<h1 class="page-header">
   Days Off
</h1>
<%= form_for Permit.new , url: permits_path, method: 'post' do |f|%>
  <div class="form-inline">
    <div class="start input-group">
      <span class="reason-text input-group-addon">Reason:</span>
      <%= f.select :type_permits, options_for_select(@requests.collect { |r| r['name']} ), {}, prompt: "- Select a type of permission-", class: "form-control type-permission" %>
    </div>
  </div>
  <div class="form-inline">
    <div class="start form-input input-group" >
      <span class="text input-group-addon">From:</span>
      <%= f.text_field :start, class: "form-control", id:"asd" %>
    </div>
    <div class="form-input input-group" id="finish-container">
      <span class="text input-group-addon">To:</span>
      <%= f.text_field :finish, class: "form-control" %>
    </div>
  </div>
  <div class="description">
    <%= f.text_area :description, class: "description-text form-control ",placeholder: "Description...." %>
  </div>
  <br>
  <%= link_to "Back", permits_path, class: "btn btn-default" %>

  <%= f.submit "Ask for Permission" ,class: "btn btn-default" %>
<% end %>

<script type="text/javascript">
  $("#asd").datetimepicker();
</script>