<%= form_for(@time_station ,:remote => true)  do |f| %>
  <% if @time_station.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@time_station.errors.count, "error") %> prohibited this time_station from being saved:</h2>

      <ul>
      <% @time_station.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= label_tag :pin_code %><br>
    <%= text_field_tag :pin_code, nil , class: 'keypad'%>
  </div>


<% end %>
<div id="keypad">
</div>
<script type="text/javascript">

  $(document).ready(function() {
      $('#keypad').keypad();
  });

</script>