<p id="notice"><%= notice %></p>
<% if can? :manage, TimeStation %>   
  <%= link_to 'Staff Report', report_path , class: "btn btn-lg btn-primary align-right" %>
<% end %> 

<h1 class="page-header"> Time Station <small> for <%= current_user.full_name %></small> </h1>

<table class="table table-striped table-responsive">
  <thead>
    <tr>
      
      <th>In time</th>
      <th>Out time</th>
      <th>Total time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @current_user.time_stations.each do |time_station| %>
      <tr>
        <td>
          <% if !time_station.in_time.nil? %>
            <%= datetime_format(time_station.in_time) %>
          <% else %>
          <%end%>
        </td>
        <td>
           <% if !time_station.out_time.nil? %>
            <%= datetime_format(time_station.out_time) %>
          <% else %>
          <%end%>
        </td>
        <td><%= get_seconds_in_hours_minutes(time_station.total_time) %> hours</td>
      </tr>
    <% end %>
  </tbody>
</table>

<%#= link_to 'New Time station', new_time_station_path %>