<h1 class="page-header"> My On Time Activities <small> for <%= current_user.full_name %></small></h1>
<table class="table table-striped table-responsive">
  <thead>
    <tr>
      <th>Date</th>
      <th>In time</th>
      <th>Out time</th>
      <th>Total time</th>
    </tr>
  </thead>
  <tbody>
    <% @in_times.each do |time_station| %>
      <tr>
        <td><%= full_date_format(time_station.created_at)%></td>
        <td>
          <%= datetime_format(time_station.created_at) %>
        </td>
        <td>
           <% if !time_station.children.nil? %>
            <%= datetime_format(time_station.children.created_at) %>
          <% else %>
            --
          <%end%>
        </td>
        <td>
        <% if !time_station.children.nil? %>
        <%= get_seconds_in_hours_minutes(time_station.children.total_time) %> hours
        <% else %>
        <%= get_seconds_in_hours_minutes(time_station.total_time) %> hours
        <%end%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="text-center">
  <%= will_paginate @in_times,:previous_label => '<<', :next_label => '>>' %>  
</div>

