<p id="notice"><%= notice %></p>
<div class="align-right">
<%= link_to '<i class="fa fa-file-excel-o"></i>  Download as Excel'.html_safe, report_path(format: "xlsx"), class: "btn btn-lg btn-success"%>
</div>
<h1 class="page-header"> Staff Report <small> </small> </h1>

<table class="table table-striped table-responsive">
  <thead>
    <tr>
      <th>Name</th>
      <th>In time</th>
      <th>Out time</th>
      <th>Total time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @time_stations.each do |time_station| %>
      <tr>
        <td><%= time_station.user.full_name %>
        <td><%= datetime_format(time_station.in_time) %></td>
        <td><%= datetime_format(time_station.out_time) %></td>
        <td><%= time_station.total_time %> hours</td>
      </tr>
    <% end %>
  </tbody>
</table>
