<!DOCTYPE html>
<html>
	<head>
		<title>Tkyield</title>
		<%= stylesheet_link_tag    "application", media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
		<%= favicon_link_tag 'favicon.ico' %>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<%= csrf_meta_tags %>

	</head>
	<body>
		<% if user_signed_in? %>
			<div id="wrapper">
				<%= render "layouts/navbar" %>
				<div id="page-wrapper">
					<ol class="breadcrumb">
						<%= render_breadcrumbs :tag => :li, :separator => "" %>
					</ol>
					<%= render "layouts/messages" %>
					<div class="container-fluid">
						<%= yield %>
					</div>
				</div>
			</div>
		<% else %>
			<div id="not_logged">
				<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
					<div class="container">
						<div class="navbar-header">
							<%= link_to root_url(subdomain: false), class: 'navbar-brand' do %>
							   <p><%= image_tag('favicon.ico', width: '20', height: '20') %> Tekton Yield</p>
							<% end %>
						</div>
					</div>
				</nav>
				<div>
					<%= render "layouts/messages" %>
					<div class="container-fluid">
						<%= yield %>
					</div>
				</div>
			</div>
		<% end %>
	</body>
</html>
